In [18]:
import pandas as pd 
import numpy as np 


pd.set_option("display.max_columns", None)

In [19]:
weather_df = pd.read_csv("./data/weather.csv", index_col='DATE')

In [20]:
weather_df.head(2)

,STATION,NAME,ACMH,ACSH,AWND,FMTM,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN,TSUN,WDF1,WDF2,WDF5,WDFG,WDFM,WESD,WSF1,WSF2,WSF5,WSFG,WSFM,WT01,WT02,WT03,WT04,WT05,WT06,WT07,WT08,WT09,WT11,WT13,WT14,WT15,WT16,WT17,WT18,WT21,WT22,WV01
DATE,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1970-01-01,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",80.0,90.0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,28,22,NaN,330.0,NaN,NaN,NaN,NaN,NaN,14.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-02,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",30.0,20.0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,31,22,NaN,290.0,NaN,NaN,NaN,NaN,NaN,17.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
null_pct = weather_df.apply(pd.isnull).sum() / weather_df.shape[0]

null_pct

STATION    0.000000
NAME       0.000000
ACMH       0.501478
ACSH       0.501426
AWND       0.265256
FMTM       0.475087
PGTM       0.363872
PRCP       0.000000
SNOW       0.000000
SNWD       0.000104
TAVG       0.680406
TMAX       0.000000
TMIN       0.000000
TSUN       0.998393
WDF1       0.501685
WDF2       0.498678
WDF5       0.502981
WDFG       0.734484
WDFM       0.999948
WESD       0.685228
WSF1       0.501530
WSF2       0.498678
WSF5       0.503033
WSFG       0.613055
WSFM       0.999948
WT01       0.630217
WT02       0.935034
WT03       0.933271
WT04       0.982579
WT05       0.981127
WT06       0.990615
WT07       0.994400
WT08       0.796962
WT09       0.992741
WT11       0.999274
WT13       0.886711
WT14       0.954010
WT15       0.997822
WT16       0.658993
WT17       0.996889
WT18       0.939493
WT21       0.999741
WT22       0.997459
WV01       0.999948
dtype: float64

In [22]:
valid_columns = weather_df.columns[null_pct <= .05]

valid_columns

Index(['STATION', 'NAME', 'PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN'], dtype='object')

In [23]:
weather_df = weather_df[valid_columns].copy()

In [24]:
weather_df.columns = weather_df.columns.str.lower()

In [26]:
weather_df = weather_df.ffill()

In [27]:
weather_df.apply(pd.isnull).sum()

station    0
name       0
prcp       0
snow       0
snwd       0
tmax       0
tmin       0
dtype: int64

In [28]:
weather_df.index = pd.to_datetime(weather_df.index, errors='coerce', dayfirst=True)

In [35]:
def fahrenheit_to_celsius(f):
    return round((f - 32) * 5.0 / 9.0, 2)

In [36]:
weather_df["cel_max"] = weather_df["tmax"].apply(fahrenheit_to_celsius)
weather_df["cel_min"] = weather_df["tmin"].apply(fahrenheit_to_celsius)

In [61]:
weather_df.index.year.value_counts().sort_index()

DATE
1970.0    144
1971.0    144
1972.0    144
1973.0    144
1974.0    144
1975.0    144
1976.0    144
1977.0    144
1978.0    144
1979.0    144
1980.0    144
1981.0    144
1982.0    144
1983.0    144
1984.0    144
1985.0    144
1986.0    144
1987.0    144
1988.0    144
1989.0    144
1990.0    144
1991.0    144
1992.0    144
1993.0    144
1994.0    144
1995.0    144
1996.0    144
1997.0    144
1998.0    144
1999.0    144
2000.0    144
2001.0    144
2002.0    144
2003.0    144
2004.0    144
2005.0    144
2006.0    144
2007.0    144
2008.0    144
2009.0    144
2010.0    144
2011.0    144
2012.0    144
2013.0    144
2014.0    144
2015.0    144
2016.0    144
2017.0    144
2018.0    144
2019.0    144
2020.0    144
2021.0    144
2022.0    120
Name: count, dtype: int64

In [64]:
def z_score(x, mean, std):
    return (x - mean) / std 


x = 86
mean = 85
std = 2.0

print(round(z_score(x, mean, std), 2))

0.5